.homescreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $primary-gradient;
  color: white;

  img {
    width: 100%;
    max-width: 270px;
  }
  .login {
    margin-top: 45px;
    width: 100%;
    max-width: 270px;
    background: white;
    border-radius: 50px;
    color: $primary;
    font-weight: 600;
    border: none;
  }

  .sign-up {
    width: 100%;
    max-width: 270px;
    color: white;
    margin-top: 25px;
    padding: 15px;
    background: none;
    border: none;
    text-decoration: underline;
  }

  .popup {
    display: inline;
    .popup-bg {
      content: "";
      display: block;
      opacity: 0;
      background-color: #0007;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: opacity 340ms ease-out;
      z-index: -1;
    }

    .popup-content {
      background: white;
      position: absolute;
      bottom: -100%;
      left: 0;
      right: 0;
      height: 90%;
      transition: bottom 440ms cubic-bezier(0, 0.6, 0.47, 1.21);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0px 40px;

      .page-header {
        width: 100%;
        background: white;
        color: black;

        button {
          color: black;
        }
      }

      button.submit {
        width: 100%;
        background: $primary;
        border-radius: 50px;
        color: white;
        font-weight: 600;
        border: none;
        padding: 25px 25px;
        margin-top: 18px;
      }

      .input-password {
        //Show Password & Password input container
        position: relative;

        .password-show {
          //Show Password button
          font-weight: 600;
          padding: 0;
          margin: 0;
          background: transparent;
          position: absolute;
          top: 5px;
          right: 10px;
          color: lighten($primary, 5%);
          border: none;

          &:focus,
          &:active {
            box-shadow: none;
            border: none;
            outline: none;
          }
        }
      }
    }

    &.active {
      .popup-bg {
        opacity: 1;
        z-index: 1;
      }
      .popup-content {
        bottom: -32px;
        z-index: 2;
      }
    }
  }
}
