@import "./variables";
@import "./base";
@import "./bottle-slider";

.navbar {
  position: absolute;
  height: $navbar-height;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #FAFAFA;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.05);
  z-index: 1;

  a.navbar-item {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    
    svg {
      color: #666;
      display: block;
      margin: 0 auto 5px;
    }
    &.active,
    &.active svg {
      color: $primary;

    }
  }
}

.margin-left{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}


button{
  cursor: pointer;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.632);
  border-width: 4px;
}

button:hover{
  background-color: rgba(255, 254, 254, 0.748);
  color: black;
  font-weight:bolder;
  transform: translateY(-7px);
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.734);
}

.table-list {
  padding: 0px 25px;

  .inventoryItem{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0px;
      border-bottom: 1px solid #E8E8E8;
    }
}

.block-display{
  display: block;
  margin-top: 10px;
  border-bottom: 1px solid #E8E8E8;

  .margin-bot{
    margin-bottom: 10px;
  }

}

// img{
//   border-radius: 25px;
// }

.block-display:hover{
  background-color: rgba(106, 106, 106, 0.122);
}

.background-enter{
  background-color: rgba(106, 106, 106, 0.136);
}

#background-round{
  border-radius: 20px;
  min-width: 50px;
}

.margin-top{
  margin-top: 10px;
 }

.margin-bot{
 margin-bottom: 35px;
}

.center{
  display: flex;
  justify-content: center;
  // align-items: center;
  // text-align: center;
}

#circle-shape {
  display:block;
  margin: auto;
  // padding-top: 10px;
  
  height: 90px;
  width: auto;
  // background: none;
  border-radius: 100%;
  // box-sizing: border-box;
  // border-bottom: 50px solid transparent;
}

.margin-right{
  margin-right: 25px;
}

.padding-top{
  padding-top: 20px;
}

.padding-right{
  padding-right: 10px;
}

.padding-left-n-right
{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px 10px;
  
}