@import "./variables";
@import "./base";
@import "./bottle-slider";

.navbar {
  position: absolute;
  height: $navbar-height;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #FAFAFA;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.05);
  z-index: 1;

  a.navbar-item {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    
    svg {
      color: #666;
      display: block;
      margin: 0 auto 5px;
    }
    &.active,
    &.active svg {
      color: #5DB075;

    }
  }
}

.margin-left{
  margin-left: 20px;
}

button{
  cursor: pointer;
}

.table-list {
  padding: 0px 25px;

  .inventoryItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #E8E8E8;
  }
}