.report-date-header {
    margin: auto;
    width: fit-content;
    font-weight: 600;
    margin-top: 5%;
}

.report-column-a {
    width: 40%;
}

.report-column-b {
    margin-left: 10%;
}

.graph-container {
    height: 550px;
}